
    <table class="table table-hover">
        <tr>
            <!-- Put code for flat picture here -->
            <td width="70px">
                <a href="{{ offer.link }}">
                    <img src="{{ offer.pictureLink }}" class="rounded" width="200px"/>
                </a>
            </td>
            <td>
                <a href="{{ offer.link }}">
                    {{ offer.title }}
                </a><br>
                Dzielnica: {{ offer.district }}<br>
                Liczba pokoi: {{ offer.roomsNo }}<br>
                Powierzchnia: {{ offer.size }}<br>
                Cena: {{ offer.price }} ({{ offer.pricePerM2 }} zł/m2)<br>
            </td>
            <!-- <td>Dzielnica: {{ offer.district }}<br></td><br>
            <td>Liczba pokoi: {{ offer.roomsNo }}</td><br>
            <td>Powierzchnia: {{ offer.size }}</td><br>
            <td>Cena: {{ offer.price }} ({{ offer.pricePerM2 }} zł/m2)</td> -->
        </tr>
    </table>