{% extends "base.html" %}

{% block content %}
    <!-- <h1>Witaj, {{ user.username }}! Zobacz oferty mieszkań dla dzielnicy {{ search_params.district }}:</h1> -->
    <h1>Witaj, {{ user.username }}! Zobacz oferty mieszkań dla dzielnicy :</h1>
    {% for offer in offers %}
    <div><p><b>Cena: {{ offer.price }}</b><br>
        Cena za m2: {{ offer.priceM2 }}<br>
        Lokalizacja: {{ offer.location }}<br>
        Liczba pokoi: {{ offer.rooms_no }}<br>
        link do oferty: {{ offer.link }}            
    </p></div>
    {% endfor %}

    <h1>Ponadto, w naszej bazie mamy następujące oferty:</h1>
    {% for offer in flats %}
        {% include '_offer.html' %}
    {% endfor %}

{% endblock %}