{% extends "base.html" %}

{% block content %}
    <h1>Podaj kryteria wyszukiwania</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.roomsNoSearch.label }}<br>
            {{ form.roomsNoSearch(size=32) }}<br>
        </p>
        <p>
            {{ form.flatSizeMin.label }} 
            {{ form.flatSizeMin(size=32) }} 
            m2<br>
        </p>
        <p>
            {{ form.flatSizeMax.label }} 
            {{ form.flatSizeMax(size=32) }} 
            m2<br>
        </p>
        <p>
            {{ form.priceMin.label }} 
            {{ form.priceMin(size=32) }} 
            zł<br>
        </p>
        <p>
            {{ form.priceMax.label }} 
            {{ form.priceMax(size=32) }} 
            zł<br>
        </p>
        <p>
            {{ form.pricePerM2min.label }} 
            {{ form.pricePerM2min(size=32) }} 
            zł/m2<br>
        </p>
        <p>
            {{ form.pricePerM2max.label }} 
            {{ form.pricePerM2max(size=32) }} 
            zł/m2<br>
        </p>
        <p>
            {{ form.market.label }} 
            {{ form.market(size=32) }} 
            zł/m2<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}