{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>
<body>
    <!-- <h1>Podaj kryteria wyszukiwania</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
            <div id="loading" style="display:none;"><img src="static/images/loading.gif" alt="" />Trwa wyszukiwanie!</div>
            <input class="btn btn-primary" type="submit" value="Szukaj" onclick="$('#loading').show();">
        </div>
    </div> -->

    <div class="container">
        <h3>Podaj kryteria wyszukiwania</h3>
            <hr>
            <form action="" method="post" class="form" role="form">
            {{ form.csrf_token() }}
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ wtf.form_field(form.location, class='form-control', placeholder='Dzielnica') }}
                    </div>
                    <div class="form-group col-md-6">
                            {{ wtf.form_field(form.market, class='form-control', placeholder='Rynek') }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ wtf.form_field(form.roomsNoSearch, class='form-control', placeholder='Liczba Pokoi') }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ wtf.form_field(form.flatSizeMin, class='form-control', placeholder='Powierzchnia: od') }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ wtf.form_field(form.flatSizeMax, class='form-control', placeholder='Powierzchia: do') }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ wtf.form_field(form.priceMin, class='form-control', placeholder='Cena: od') }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ wtf.form_field(form.priceMax, class='form-control', placeholder='Cena: do') }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ wtf.form_field(form.pricePerM2min, class='form-control', placeholder='Cena za m2: od') }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ wtf.form_field(form.pricePerM2max, class='form-control', placeholder='Cena za m2: do') }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" onclick="$('#loading').show();">Szukaj</button>
                <div id="loading" style="display:none;"><img src="static/images/loading.gif" alt="" />Trwa wyszukiwanie!</div>
            </form>
    </div>
</body>
{% endblock %}